/* Импорт шрифтов */
@import url(./fonts.css);

/* UI */

/* underline */

.underline {
  position: relative;
  white-space: nowrap;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 10px;
  border: solid 3px transparent;
  border-color: transparent transparent transparent transparent;
  border-radius: 30%;
}

.underline_turquoise::after {
  content: "";
  position: absolute;
  border-top: solid 3px #00ADB5;
  border-color: #00ADB5 transparent transparent transparent;
}

/* buttons */

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  padding: 14px 30px;
}

.orange-button {
  background-color: #F50;
  border: 1px solid #F50;
  color: #fff;
}

.orange-button:hover {
  background-color: transparent;
  color: #F50;
}

.orange-button:active {
  background-color: #FFECEA;
  border: 1px solid transparent;
}

.white-button {
  background-color: #fff;
  border: 1px solid #fff;
  color: #F50;
}

.white-button:hover {
  background: transparent;
  color: #fff;
}

.white-button:active {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid transparent;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-image {
  position: relative;
  width: 30px;
  height: 30px;
}

.logo-image::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

.logo-image::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo-scroll.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.--scroll .logo-image::after {
  opacity: 0;
}

.--scroll .logo-image::before {
  opacity: 1;
}

.logo p {
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 145%;
  margin: 0;
}

.logo-text-first {
  color: #CA8263;
  transition: all 0.4s ease-in-out;
}

.logo-text-last {
  color: #FFF;
  transition: all 0.4s ease-in-out;
}

.--scroll .logo-text-first {
  color: #F50;
}

.--scroll .logo-text-last {
  color: #453431;
}

@media screen and (max-width: 1060px) {
  .logo-image {
    max-width: 24px;
    max-height: 24px;
  }

  .logo p {
    font-size: 11px;
    line-height: 100%;
    max-width: 60px;
  }

  .logo p span {
    display: block;
  }

  .logo p .logo-text-dash {
    display: none;
  }
}

/* title */

.section-title {
  font-family: 'Tilda Sans VF';
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #171717;
  margin: 0;
}

.section-title_white {
  color: #FFF;
}

.section-title_centered {
  text-align: center;
  margin: 0 auto;
}

.section-title_white {
  color: #FFF;
}

/* communications-container */

.communications-container {
  margin-top: 15px;
}

.communications-container__metro {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.communications-container:first-of-type {
  margin: 0;
}

.communications-container span {
  display: block;
  font-family: 'Tilda Sans VF';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}

.communications-container p,
.communications-container a {
  display: block;
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  text-decoration: none;
  margin: 0;
}


/* copy-tooltip */

.copy-tooltip {
  position: absolute;
  left: 50%;
  bottom: 160%;
  transform: translateX(-50%);
  height: 28px;
  pointer-events: none;
  background-color: #000;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.copy-tooltip:before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: #000;
  border-width: 9px;
}

.copy-text {
  display: inline-block;
  font-family: 'Tilda Sans VF';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  color: #F50 !important;
  padding: 5px 10px 1px;
}

.mail-copy {
  position: relative;
  width: max-content;
  cursor: pointer;
}

.mail-copy:hover .copy-tooltip {
  opacity: 1;
}

/* coordinates */

.coordinates {
  display: inline-block;
  position: relative;
  font-family: 'Tilda Sans VF';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #F50;
  text-decoration: none;
  width: max-content;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}

.coordinates:hover {
  border-bottom: 1px solid #F50;
}

.coordinates-copy {
  cursor: pointer;
}

.coordinates-copy:hover .copy-tooltip {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .coordinates:hover {
    border-bottom: 1px solid transparent;
  }
}

/* metro-icon */

.metro-icon {
  width: 24px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.metro-icon_purple {
  background-image: url(../images/metro-icon-purple.svg);
}

/* menu-overlay */

.menu-overlay {
  position: fixed;
  display: none;
  background-color: rgba(23, 23, 23, .7);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
}

@media screen and (max-width: 1060px) {
  .menu-overlay.--active {
    display: block;
  }
}

/* clip */

.clip-item {
  position: absolute;
  z-index: 5;
  width: 77px;
  height: 78px;
  background-image: url(../images/clip.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* slider-pagination */

.slider-pagination {
  position: absolute !important;
  z-index: 5 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  max-width: 80% !important;
  width: max-content !important;
}

.slider-pagination .swiper-pagination-bullet {
  border-radius: 2px !important;
  transform: rotate(45deg) translateY(-2px) !important;
}

.slider-pagination_active-orange .swiper-pagination-bullet {
  background: #000 !important;
}

.slider-pagination_active-orange .swiper-pagination-bullet-active {
  background: #F50 !important;
}

.slider-pagination_active-beige .swiper-pagination-bullet {
  opacity: 1 !important;
  background: #FFF !important;
}

.slider-pagination_active-beige .swiper-pagination-bullet-active {
  background: rgba(255, 206, 196, 1) !important;
}

/* orange-eye */

.orange-eye {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 54px;
  height: 54px;
  background-image: url(../images/eye.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-50%) translateY(50%);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}

/* slider-btn */

.slider-btn {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.slider-btn:hover::after {
  opacity: 0;
}

.slider-btn:hover::before {
  opacity: 1;
}

.slider-btn::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 54%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 46px;
  height: 46px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.slider-btn::before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 54%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 46px;
  height: 46px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.slider-btn-next {
  transform: translateY(-50%);
}

.slider-btn-prev {
  transform: translateY(-50%) rotate(180deg);
}

.slider-btn_beige {
  background-color: rgba(202, 130, 99, 0.15);
}

.slider-btn_beige:hover {
  background-color: #F50;
}

.slider-btn_beige:active {
  background-color: #c64200;
}

.slider-btn_beige::after {
  background-image: url(../images/beige-slider-arrow.svg);
}

.slider-btn_beige::before {
  background-image: url(../images/beige-slider-arrow.svg);
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}

.header.--scroll {
  background-color: #fff;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.--scroll .nav-item:hover {
  border-bottom: 2px solid #F50;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  color: #FFF;
  text-decoration: none;
  min-height: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.header.--scroll .nav-link {
  color: #453431;
}

.nav-item:hover .nav-link {
  color: #F50;
}

.phone {
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  color: #fff;
  text-decoration: none;
  margin: 0;
  transition: all 0.4s ease-in-out;
}

.--scroll .phone {
  color: #453431;
}

@media screen and (max-width: 1060px) {
  .header {
    height: 49px;
  }

  .header__wrap {
    max-width: none;
    padding: 0 33px;
  }

  .nav-list {
    display: none;
  }

  .phone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 500px) {
  .phone {
    left: inherit;
    right: 32px;
  }
}

/* stb */

.stb {
  position: relative;
  background-color: #20100F;
  background-image: url(../images/stb.png);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  border-radius: 0 0 24px 24px;
  overflow: hidden;
}

.stb__container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 75px 0 70px;
}

.stb h1 {
  font-family: 'Tilda Sans VF';
  font-style: normal;
  font-size: 59px;
  font-weight: 300;
  line-height: normal;
  color: #FFF;
  max-width: 675px;
  margin: 0;
}

.stb h1 span {
  font-size: 106px;
}

.stb p {
  font-family: 'Tilda Sans VF';
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
  color: #FFF;
  max-width: 690px;
  margin: 15px 0 0;
}

.stb__statistics-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0 0;
}

.stb .stb__statistics-container p {
  font-family: 'Tilda Sans VF';
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #CA8263;
  margin: 0;
}

.stb .stb__statistics-container span {
  display: inline-block;
  font-family: 'Tilda Sans VF';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  color: #FFF;
  max-width: 290px;
  margin: 0;
}

.stb .stb__statistics-container span strong {
  color: #CA8263;
}

.stb__buttons-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 30px 0 0;
}

.stb__buttons-container .main-button {
  width: 250px;
}

@media screen and (max-width: 1060px) {
  .stb {
    background-image: url(../images/stb-tab.png);
    background-size: 100% 655px;
    background-position: top 150px left 0;
  }

  .stb__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 30px 40px;
  }

  .stb h1 {
    font-size: 42px;
    line-height: 120%;
    max-width: 464px;
    margin: 0 auto;
  }

  .stb h1 span {
    font-size: 54px;
    line-height: 120%;
  }

  .stb p {
    max-width: 650px;
    margin: 5px auto 0;
  }

  .stb__statistics-container {
    margin-top: 460px;
  }

  .stb .stb__statistics-container span {
    text-align: left;
    max-width: none;
  }

  .stb__buttons-container {
    width: 100%;
  }

  .stb__buttons-container .main-button {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .stb {
    background-image: url(../images/stb-mob.png);
    background-size: 100% 510px;
    background-position: top 270px left 0;
  }

  .stb__container {
    padding: 50px 17px 35px;
  }

  .stb__statistics-container {
    flex-direction: column;
    gap: 0;
    margin-top: 290px;
  }

  .stb .stb__statistics-container span {
    text-align: center;
  }

  .stb__buttons-container {
    flex-direction: column;
    margin-top: 25px;
  }
}

/* burger */

.burger-icon {
  display: none;
  width: 16px;
  height: 10px;
  background-image: url(../images/burger-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1060px) {
  .burger-icon {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 110;
  right: 0;
  top: 0;
  display: none;
  max-width: 290px;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  border-radius: 25px 0px 0px 25px;
  background: #453431;
  overflow: hidden;
  transition: transform .2s ease-out;
}

.mobile-menu.--active {
  transform: translateX(0);
  transition: transform .2s ease-in;
}

.mobile-menu__container {
  overflow: scroll;
  height: 100%;
  padding: 16px 17px 25px 28px;
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__close {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background-color: #F50;
  background-image: url(../images/mobile-menu-close.svg);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.mobile-menu .nav-list {
  height: auto;
}

.mobile-menu__line {
  width: 100%;
  height: 1px;
  background: #7B6965;
  margin: 20px 0;
}

.mobile-menu .communications-container span {
  color: #7B6965;
}

.mobile-menu .communications-container p,
.mobile-menu .communications-container a {
  color: #FFF;
}

.mobile-menu__button {
  width: 100%;
  margin: 20px auto 0;
}

.mobile-menu .coordinates {
  margin-top: 10px;
}

@media screen and (max-width: 1060px) {
  .mobile-menu {
    display: block;
  }

  .mobile-menu .nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  .mobile-menu .nav-link {
    font-weight: 400;
  }

  .mobile-menu .phone {
    position: inherit;
    display: inline-block;
    font-size: 18px;
    line-height: 135%;
    font-weight: 400;
    transform: none;
    margin-top: 15px;
  }
}

/* specialists */

.specialists {
  position: relative;
  z-index: 3;
  background-color: #FFF5F3;
  border-radius: 0px 0px 25px 25px;
}

.specialists__container {
  max-width: 1060px;
  border-radius: 0px 0px 25px 25px;
  margin: 0 auto;
  padding: 120px 0;
}

.specialists__slider-container {
  position: relative;
  max-width: 1060px;
  overflow: hidden;
  margin: 30px auto 0;
}

.specialists__slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.specialist__card {
  display: flex;
  flex-direction: column;
  width: 338px !important;
}

.specialist__card-image {
  width: 100%;
  border-radius: 35px;
}

.specialist__card-text-container {
  margin-top: 15px;
}

.specialist__card-job-title {
  display: inline-block;
  font-family: 'Tilda Sans VF';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #014541;
}

.specialist__card-text-container p {
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 145%;
  color: #171717;
  margin: 5px 0 0;
}

.specialist__card-text-container span {
  display: inline-block;
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%;
  color: #363636;
  margin: 5px 0 0;
}

.specialists .clip-item {
  left: 100px;
  bottom: -20px;
}

.specialists-pagination {
  display: none !important;
}

@media screen and (max-width: 1360px) {
  .specialists__container {
    padding: 40px 0;
  }

  .specialists .clip-item {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  .specialists__slider-container {
    padding-bottom: 40px;
  }

  .specialists-pagination {
    display: flex !important;
    bottom: 0 !important;
  }
}

/* technologies */

.technologies {
  position: relative;
  z-index: 2;
  background-color: rgba(69, 52, 49, 1);
  border-radius: 0px 0px 25px 25px;
  margin-top: -20px;
}

.technologies__container {
  max-width: 1060px;
  border-radius: 0px 0px 25px 25px;
  margin: 0 auto;
  padding: 140px 0 120px;
}

.technologies__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 329px);
  gap: 33px;
}

.technologies-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 30px;
}

.technologies-card__text-container p {
  font-family: 'Tilda Sans VF';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #FFF;
  margin: 0;
}

.technologies-card__text-container span {
  display: inline-block;
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%;
  color: #9C8986;
  margin: 0;
}

.technologies-card__image {
  width: 54px;
  height: 54px;
}

@media screen and (max-width: 1360px) {
  .technologies__container {
    padding: 60px 40px 40px;
  }
}

@media screen and (max-width: 1060px) {
  .technologies__cards-container {
    justify-content: center;
    grid-template-columns: repeat(2, 329px);
  }
}

@media screen and (max-width: 660px) {
  .technologies__container {
    padding: 60px 20px 40px;
  }

  .technologies__cards-container {
    gap: 10px;
    grid-template-columns: repeat(1, 329px);
  }
}

/* clients */

.clients {
  position: relative;
  background-color: #FFF5F3;
  border-radius: 25px;
}

.clients__container {
  max-width: 1060px;
  border-radius: 25px;
  margin: 0 auto;
  padding: 120px 0 160px;
}

.clients__cards-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
  gap: 25px;
  margin-top: 30px;
}

.client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 130px;
  border-radius: 25px;
  background-color: #FFF;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.client-card:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 1360px) {
  .clients__container {
    padding: 40px;
  }
}

@media screen and (max-width: 1060px) {
  .clients__cards-container {
    grid-template-columns: repeat(2, 250px);
  }
}

@media screen and (max-width: 600px) {
  .clients__cards-container {
    grid-template-columns: repeat(1, 250px);
    gap: 15px;
  }
}

/* reviews */

.reviews {
  position: relative;
  border-radius: 25px 25px 0px 0px;
  background-color: #014541;
}

.reviews__container {
  max-width: 1060px;
  border-radius: 25px 25px 0px 0px;
  margin: 0 auto;
  padding: 120px 0 160px;
}

.reviews .clip-item {
  top: -30px;
  right: 190px;
  transform: scale(-1, 1) rotate(185deg);
}

.reviews__main-container {
  position: relative;
}

.reviews__slider-container {
  max-width: 1060px;
  overflow: hidden;
  padding-top: 40px;
}

.reviews__slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reviews__slide {
  position: relative;
  width: 250px !important;
  height: 354px !important;
  border-radius: 12px;
  background-color: #FFF;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.reviews__slide::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(255, 85, 0, 0.05) 0%, rgba(255, 85, 0, 0.05) 100%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.reviews__slide:hover {
  border: 3px solid #F50;
  transform: translateY(-10px) !important;
}

.reviews__slide:hover::after {
  opacity: 1;
}

.reviews__slide .orange-eye {
  z-index: 2;
  opacity: 0;
}

.reviews__slide:hover .orange-eye {
  opacity: 1;
}

.reviews-card {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.reviews-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reviews .slider-pagination {
  bottom: -40px !important;
}

.reviews .slider-btn {
  top: calc(50% + 40px/2);
}

.reviews-slider-prev {
  left: -75px !important;
}

.reviews-slider-next {
  right: -75px !important;
}

@media screen and (max-width: 1360px) {
  .reviews .clip-item {
    display: none;
  }

  .reviews__container {
    padding: 40px 0 80px;
  }
}

@media screen and (max-width: 1200px) {
  .reviews-slider-next {
    right: -1px !important;
    background-color: #F50;
    border-radius: 14px 0 0 14px;
  }

  .reviews-slider-prev {
    left: -1px !important;
    background-color: #F50;
    border-radius: 14px 0 0 14px;
  }
}

@media screen and (max-width: 1060px) {
  .reviews__slide .orange-eye {
    opacity: 1;
  }
}

/* map */

.map {
  position: relative;
  width: 100%;
  height: 860px;
  margin-top: -20px;
}

.map-panel__container {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 180px;
  transform: translateX(-50%);
  max-width: 1060px;
  width: 100%;
}

.map-panel__panel-container {
  display: block;
  background-color: #FFF;
  border-radius: 25px;
  width: 490px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.map-panel__line {
  width: 100%;
  height: 1px;
  background-color: #FFF5F3;
  margin: 20px 0;
}

.map-panel__panel-container .communications-container span {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: #6B6B6B;
}

.map-panel__panel-container .communications-container p,
.map-panel__panel-container .communications-container a {
  font-size: 26px;
  font-weight: 400;
  line-height: 135%;
  color: #171717;
}

.map-panel__panel-container .communications-container__metro {
  align-items: center;
}

.map-panel__button {
  width: 100%;
  margin-top: 20px;
}

.map-panel__coordinates-container {
  margin-top: 10px;
}

.map-panel__panel-container .mail-copy {
  display: block;
  font-family: 'Tilda Sans VF';
  font-size: 26px;
  line-height: 135%;
  font-weight: 400;
  text-decoration: none;
  color: #171717;
  margin: 0;
}

.map-panel__panel-container .mail-copy .copy-tooltip {
  bottom: 120%;
}

@media screen and (max-width: 1060px) {
  .map {
    height: 1100px;
  }

  .map-panel__container {
    left: 50%;
    transform: translateX(-50%);
    max-width: none;
    width: max-content;
    bottom: 100px;
  }

  .map-panel__panel-container .communications-container span {
    text-align: center;
  }

  .map-panel__panel-container .communications-container p,
  .map-panel__panel-container .communications-container a {
    text-align: center;
  }

  .map-panel__coordinates-container {
    text-align: center;
    margin: 0 auto;
  }

  .map-panel__panel-container .mail-copy {
    text-align: center;
    margin: 0 auto;
  }
  
  .map-panel__panel-container .communications-container__metro {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .map-panel__container {
    width: calc(100% - 40px);
    bottom: 150px;
  }

  .map-panel__panel-container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .map-panel__panel-container .communications-container p,
  .map-panel__panel-container .communications-container a {
    font-size: 22px;
    line-height: 135%;
  }

  .map-panel__line {
    margin: 10px 0;
  }

  .ymaps-2-1-79-map {
    pointer-events: none;
  }
}

/* footer */

.footer {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 1060px;
  width: 100%;
  border-radius: 25px;
  background: #453431;
  padding: 18px 40px;
}

.footer__rating {
  font-family: 'Tilda Sans VF';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 1060px) {
  .footer {
    width: calc(100% - 40px);
    max-width: none;
    padding: 10px 20px;
  }

  .footer__rating {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
  }

  .footer__rating {
    text-align: center;
  }
}